reprof.py
.ghci
ghci
*.sublime-project
*.sublime-workspace
cabal.project
cabal.project.local
cabal.sandbox.config
dist
dist-newstyle
sandbox-init
sandbox-reset
rebuild-proto
*.prof
**/TypeCheck.hs

**/TAGS
**/configure
**/.stack-work
**/dist
**/challenges
**/rlwe-secrets.tar.gz
**/rlwe-challenges.*

sandbox
test
challenge-files

secret-files
publish
blockchaintest*
test*
metriculator.sh
clean-benches.sh
params