reprof.py
.ghci
ghci
lol.sublime-project
lol.sublime-workspace
cabal.sandbox.config
dist
sandbox-init
sandbox-reset
rebuild-proto
*.prof

apps/configure
apps/.stack-work

lol/configure
lol/makefile
lol/.stack-work

sandbox
test
challenge-files

secret-files
publish
blockchaintest*
test*